.xcconfig
*.xcconfig
Mood Music/Secrets.xcconfig

# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
*.xcuserstate
*.xcuserdata/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods (if used)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Secrets
*.env
Mood Music.xcodeproj/xcshareddata/xcschemes/Mood Music.xcscheme
*.xcscheme
*.xcscheme
Mood Music/Secrets.xcconfig
Mood Music/.DS_Store
Mood Music/Assets.xcassets/.DS_Store
